

.auth_login {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.auth_login input {
  margin: 5px;
  width: 60%;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.auth_login button {
  margin: 5px;
  padding: 5px;
  width: 80px;
    border: none;
    border-radius: 5px;
}
